.user-layout {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}

.user-sectors-page {
  justify-content: center;
}

.user-sectors-card {
  width: 64.3%;
  max-width: 803px;
  padding-bottom: 4rem;
  min-height: 800px;
}

.user-sectors-card select {
  min-height: 530px;
}
